<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:fragment="head">
            <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
            <title>Capitalism Clash</title>
        </div>
    </head>

    <body>
        <div th:fragment="body">
            <div id="container">
                <div id="header">
                    <h1>Capt Clash</h1>
                </div>

                <div id="wrapper">
                    <div id="content">
                        <p><strong>Content</strong></p>
                        <div th:if="${page_text}">
                            <td th:text="${page_text}"></td>
                        </div>

                        <!--TODO add possible object logics to handle every page. Like main building etc. -->

                    </div>
                </div>

                <div id="navigation">
                <p><strong>Navigation</strong></p>

                    <ul>
                        <div th:if="${user.isUser()}">
                            <li><a href="/index">Index</a></li>
                            <li><a href="/profile">Profile</a></li>
                        </div>
                        <div th:if="${user.isAdmin()}">
                            <li><a href="/admin-panel">Admin panel</a></li>
                        </div>

                        <!--loop through values. (Create custom object with link value and display value) perefably: use masterdetail (see it as an assignment for this week)-->
                    </ul>
                </div>
            </div>

            <div id="sector">
                <p><strong>Current Sector</strong></p>

                <div th:if="${user.currentSector}">
                    <li>Name: <td th:text="${user.currentSector.sectorName}"></td></li>

                    <!-- TODO after the name list the recource levels -->

                    <li>
                        Location: <td th:text="${user.currentSector.locationX}"></td>;<td th:text="${user.currentSector.locationZ}"></td>
                    </li>

                    <th:block th:each="building : ${user.currentSector.buildings}">
                        <li><td th:text="${building.toString()}"></td></li>
                    </th:block>


                    <li>
                        <td th:text="${user.currentSector.caffeine}"></td>
                    </li>


                </div>



            </div>

            <div id="footer">
                <div th:if="${page_footer}">
                    <td th:text="${page_footer}"></td>
                </div>
            </div>

        </div>
    </body>

</html>